@import 'variables';

.services{
    padding: 5em 0 11em 0;
    display: flex;
    flex-direction: column;

    @include screen-for-phone{
        padding: 2.5em 0 5.5em 0;
    }

    #your-users, #grow-together{

        .card-content--text{
            @include screen-for-phone{
                order: 1;
            }
        }
        .card-content--images{
            @include screen-for-phone{
                order: 0;
            }
        }
    }

    #flowing-conversation{
        margin: 3em 0;
    }
}
.services__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba($color: $grayishBlueColor, $alpha: 0.3);
    padding: 2em 5em;
    min-width: 300px;

    @include screen-for-phone{
        padding: 1em 1em;
        text-align: center;
    }

    .card-content--text{
        max-width: 480px;

        h3{
            font-size: 30px;
            padding: 1em 0;

            @include screen-for-phone{
                font-size: $fontSize + 4px;
            }
        }
        p{
            line-height: 1.7;
            color: $grayishBlueColor;
            font-size: 17px;

            @include screen-for-phone{
                font-size: 15px;
            }

        }
    }

    .card-content--images{
        width: 40%;

        @include screen-for-phone{
            width: 100%;
        }
    }
}